

  
  
  <div style="display:table;width:100%">
   <div style="display:table-row;">
    <mat-card style="display:table-cell;width:49%;">
    <mat-card-title>CLICKS</mat-card-title>
    <mat-card-content>
      <ul style="display:flex;text-align:center;">
        <li>
          <h5>Today</h5>
          <h4>6893</h4>
        </li>
        <li>
          <h5>Yesterday</h5>
          <h4>4867</h4>
        </li>
        <li>
          <h5>MTD</h5>
          <h4>89.23K</h4>
        </li>
      </ul>
    </mat-card-content>

  </mat-card>
  <br>
  <mat-card style="display:table-cell;width:49%;">
    <mat-card-title>REVENUE</mat-card-title>
    <mat-card-content>
        <ul style="display:flex;margin-left:4em;">
            <li>
              <h5>Today</h5>
              <h4>9356</h4>
            </li>
            <li>
              <h5>Yesterday</h5>
              <h4>8456</h4>
            </li>
            <li>
              <h5>MTD</h5>
              <h4>17460</h4>
            </li>
          </ul>
    </mat-card-content>
  </mat-card>

 </div>
</div>
<br><br>
<mat-card>
  <mat-card-title>TOP CAMPAIGNS</mat-card-title>
  <mat-card-content>
    <mat-tab-group dynamicHeight = false>
      <mat-tab label='Today'>
        <br>
        <table style="width: 100%;">
          <thead>
          <tr>
            <th style="width: 60%;text-align: left;">Campaigns</th>
            <th style="width: 10%;text-align: left;">Clicks</th>
            <th style="width: 10%;text-align: left;">Conversions</th>
            <th style="width: 10%;text-align: left;">Payout</th>
            <th style="width: 10%;text-align: left;">Reveue</th>
          </tr>
          </thead><br>
          <tbody>
          <tr>
            <td>Gaana</td>
            <td>12</td>
            <td>1</td>
            <td>72.22</td>
            <td>178.23</td>
          </tr>
          <tr>
              <td>Saavan</td>
              <td>32</td>
              <td>0</td>
              <td>89.45</td>
              <td>234.29</td>
            </tr>
            <tr>
                <td>News App</td>
                <td>2</td>
                <td>0</td>
                <td>10.3</td>
                <td>16.9</td>
              </tr>
            </tbody>
        </table>
      </mat-tab>
      <mat-tab label='Yesterday'>
          <br>
          <table style="width: 100%;">
            <thead>
            <tr>
              <th style="width: 60%;text-align: left;">Campaigns</th>
              <th style="width: 10%;text-align: left;">Clicks</th>
              <th style="width: 10%;text-align: left;">Conversions</th>
              <th style="width: 10%;text-align: left;">Payout</th>
              <th style="width: 10%;text-align: left;">Reveue</th>
            </tr>
            </thead><br>
            <tbody>
            <tr>
              <td>Gaana</td>
              <td>12</td>
              <td>1</td>
              <td>72.22</td>
              <td>178.23</td>
            </tr>
            <tr>
                <td>Saavan</td>
                <td>32</td>
                <td>0</td>
                <td>89.45</td>
                <td>234.29</td>
              </tr>
              <tr>
                  <td>News App</td>
                  <td>2</td>
                  <td>0</td>
                  <td>10.3</td>
                  <td>16.9</td>
                </tr>
              </tbody>
          </table>
      </mat-tab>
      <mat-tab label='MTD'>
          <br>
          <table style="width: 100%;">
            <thead>
            <tr>
              <th style="width: 60%;text-align: left;">Campaigns</th>
              <th style="width: 10%;text-align: left;">Clicks</th>
              <th style="width: 10%;text-align: left;">Conversions</th>
              <th style="width: 10%;text-align: left;">Payout</th>
              <th style="width: 10%;text-align: left;">Reveue</th>
            </tr>
            </thead><br>
            <tbody>
            <tr>
              <td>Gaana</td>
              <td>12</td>
              <td>1</td>
              <td>72.22</td>
              <td>178.23</td>
            </tr>
            <tr>
                <td>Saavan</td>
                <td>32</td>
                <td>0</td>
                <td>89.45</td>
                <td>234.29</td>
              </tr>
              <tr>
                  <td>News App</td>
                  <td>2</td>
                  <td>0</td>
                  <td>10.3</td>
                  <td>16.9</td>
                </tr>
              </tbody>
          </table>
      </mat-tab>
      <mat-tab label='Today Chart'>
        <br>
        <img src="../../assets/img/20170201iphonesales.png" alt="sales chart" height="300" width="300" class="center">
      </mat-tab>
      <mat-tab label='Yesterday Chart'>
        <br>
        <img src="../../assets/img/4208804554_00a70b9508.jpg" alt="sales chart" height="300" width="300" class="center">
      </mat-tab>
      <mat-tab label='MTD Chart'>
        <br>
        <img src="../../assets/img/chart-sales-simple-column.png" alt="sales chart" height="300" width="300" class="center">
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
 </mat-card>

 <br><br>

<div style="display: table;width: 100%">
  <div style="display: table-row">
 
    <mat-card style="display: table-cell;width: 49%">
   <mat-card-title>Smart Link | Categories</mat-card-title>
   <mat-card-content>
      <table style="width: 100%;">
        <tr>
          <th style="width: 50%;text-align: left">Category</th>
          <th style="width: 50%;text-align:left">Leads volume</th>
        </tr><br>
        <tr>
          <td>Technology</td>
          <td><mat-progress-bar mode='determinate' value='50' color = "warn"></mat-progress-bar></td>
        </tr><br>
        <tr>
            <td>General</td>
            <td><mat-progress-bar mode='determinate' value='30' color = "warn"></mat-progress-bar></td>
        </tr><br>
        <tr>
            <td>Entertainment</td>
            <td><mat-progress-bar mode='determinate' value='37' color = "warn"></mat-progress-bar></td>
        </tr><br>
        <tr>
            <td>Fashion</td>
            <td><mat-progress-bar mode='determinate' value='15' color = "warn"></mat-progress-bar></td>
        </tr><br>
        <tr>
            <td>Sports</td>
            <td><mat-progress-bar mode='determinate' value='62' color = "warn"></mat-progress-bar></td>
        </tr>
      </table>
    </mat-card-content>
 </mat-card>
<br>
 <mat-card style="display: table-cell;width: 49%">
   <mat-card-title>Top Domains</mat-card-title><hr>
   <mat-card-content>
     trk.vnative.com
    <br><hr>
     viralnative.com
   </mat-card-content>
 </mat-card>
  </div>
</div>


